{% import "njk-parts/_mixins.njk" as mixins %}

<!DOCTYPE html>
<html lang="{{ lang | default('ru') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title | default('Unnamed Page') }}</title>
    <meta name="description" content="{{ description | default('description') }}">
    <meta name="keywords" content="{{ keywords | default('keywords') }}">
    <meta name="robots" content="{{ robots | default('index, follow') }}">
    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}">
    {% endif %}

    <meta property="og:type" content="{{ ogType | default('website') }}">
    <meta property="og:title" content="{{ title | default('Unnamed Page') }}">
    <meta property="og:description" content="{{ description | default('') }}">
    {% if canonical %}
    <meta property="og:url" content="{{ canonical }}">
    {% endif %} {% if siteName %}
    <meta property="og:site_name" content="{{ siteName }}">
    {% endif %} {% if ogImage %}
    <meta property="og:image" content="{{ ogImage }}">
    <meta property="og:image:alt" content="{{ ogImageAlt | default(title) }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ ogImage }}">
    {% else %}
    <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:title" content="{{ title | default('Unnamed Page') }}">
    <meta name="twitter:description" content="{{ description | default('') }}">

    <link rel="icon" type="image/x-icon" sizes="16x16" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="manifest" crossorigin="use-credentials" href="img/favicon/site.webmanifest">

    {%- block preload %}{% endblock -%}

    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    {% include "njk-parts/_header.njk" %}

    <main class="main">
      <h1 class="{{titleCssClass}}">{{title}}</h1>
      {% block content %}{% endblock %}
    </main>

    {% include "njk-parts/_footer.njk" %}

    {%- block scripts %}{% endblock -%}
  </body>
</html>
