{% set title = "Index Page" %}

{% extends "njk-layouts/_main.njk" %}

{% block content %}


<ul>
    <li><a href="ui-kit.html">Документация к проекту (ui-kit.html)</a></li>
    <li><a href="home-page.html">Главная страница (home-page.html)</a></li>
</ul>


{% endblock %}