{% set title = "Index Page" %} 
{% extends "njk-layouts/_main.njk" %} 

{% block content %}
<ul>
  <li><a href="design-system.html">Документация к проекту (design-system.html)</a></li>
  <li><a href="home-page.html">Главная страница (home-page.html)</a></li>
</ul>
{% endblock %}
