{% set title = "Документация к проекту" %}

{% extends "njk-layouts/_main.njk" %}

{% block content %}

{# 

##Цветовая палитра

##Система отступов

##Типографика:
    Шрифты
        Семейства (Акцидентный, основной)
        Размеры
        Начертания
    заголовки (h1 - h6)
    абзацы
    списки (нумерованные, маркированные)
    Цитаты (blockquote)
    Таблицы

##Ссылки

##Кнопки

##Элементы ввода: 
    текстовые поля
    textarea
    выпадающие списки
    чекбоксы
    радио-переключатели
    range-sliders 
    
#}

{% endblock %}